body {
    color: #7F7C82;
    background-color: #fff;
    background-image: radial-gradient(rgba(69, 22, 106, 0.15) 8%, transparent 10%);
    background-size: 20px 20px;
    background-position: 0 0, 20px 20px;
    background-repeat: repeat;
}

header {
    background: linear-gradient(to right, #45166a, #83157b 75%, #bc158a);
    color: #F3F1F5;
}

.card-header {
    background: linear-gradient(to right, #45166a, #83157b );
    color: #F3F1F5;
}

a {
    color: #45166a;
}